@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700;800&display=swap');

*, ::before, ::after {
    box-sizing: border-box !important;
}

:focus {
    outline: none;
}

:focus-visible {
    outline: solid 2px #000;
    outline-offset: 5px;
    transition: outline-offset 0.2s !important;
}

#root {
    max-width: min(700px, calc(100% - 2rem));
    margin: 2rem auto;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Rubik", "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
